doctype html
html(lang='en')
  head
    title("Addcontacts")
  body     
    center
      h1 Adding a new contact
      table(style='width:70%', border='1')
        thead
            tr
              th Name
              th Number
              th Action             
        tbody
              tr
                td 
                    textarea(id="theTextarea", style= 'border-width: 0')
                td
                    textarea(id="theTextarea", style= 'border-width: 0')
                td
                    button(type="button") Add 
    