doctype html
html(lang='en')
  head
    title("Addcontacts")
  body     
    center
      h1 Adding a new contact
      
      form(action="/contacts/new" method="post")     
        label(for="name") First Name
        br
        input(type="text" for="id" name="name")
        br
        br
        label(for="phoneNumber") Phone Number
        br
        input(type="text" for="id" name="phoneNumber")
        br
        br
        input(type="submit" value="Add")
    