doctype html
html(lang='en')
  head
    title("Addcontacts")
  body     
    center
      h1 Editing contact
      table(style='width:70%', border='1')
        thead
            tr
              th Name
              th Number
              th Action             
        tbody
              tr
                td #{name}
                td #{phoneNumber}
                td
                    button(type="button") Edit 
    