doctype html
html(lang='en')
  head
    title("contacts")
    style(type='text/css').
  body     
    center
      h1 Contacts
      br
      table(style='width:70%', border='1')
        thead
            tr
              th Name
              th Number
              th Actions             
        tbody
          each contact in contacts
              tr
                td #{contact.name}
                td #{contact.phoneNumber}
                td 
                    a(href=`contacts/edit/${contact.id}`): button(type="button", style= 'margin-left: 30') Edit 
                    a(href=`contacts/${contact.id}`): button(type="button") Delite
    
      br
      br 
    right          
      a(href="contacts/new"): button(type="button") Add Contact